<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- <suite name="AllTestsSuite" verbose="1"> -->
    <suite name="Annotation Execution Suite" >
        <test name="MyTestGroup">
        <parameter name="program"  value="Bootcamp API Automation"/>
            <classes>
                <!-- <class name="automation.StandAloneTesNGImplTest131" />
                <class name="automation.StandAloneTesNGImpl2Test" /> -->
                <class name="runners.TestRunnerTestNg"/>
            </classes>
        </test>
    </suite>
<!-- </suite> -->